<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="content-header">
  
    </div>

    <div class="content">
        <div class="content-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header bg-dark">
                            <h4 class="m-0 ms-3"><strong><i class="fas fa-file"></i></span>   Formulário de Instalações</strong></h4>
                        </div>
                        <div class="card-body">
                     
                            <div class="row">
                                <div class="col-12">
                                   
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <form method="post" action="/premiacao">

<div class="row">
   

    <div class="col-4">
        <div class="input mb-3">
            <span class="input-text" id="basic-addon1">Data inicio</span>
            <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="dataInicioForm">
          </div>
    </div>
    <div class="col-4">
        <div class="input mb-3">
            <span class="input-text" id="basic-addon1">Data Fim</span>
            <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="dataFimForm">
          </div>
    </div>
    <div class="col-4">
        <div class="input mb-3">
            
            <span class="input-text">Extra</span>
          <select class="custom-select" id="inputGroupSelect01" name="extraForm">
            <option value="nao" selected>Não</option>
            <option value="sim">Sim</option>
          
          </select>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-3">
        <div class="input mb-3">   
            <span class="input-text">Vendedor</span>
            <select class="custom-select" multiple aria-label="multiple select example" size="3" name="selectVendedorForm" id="selectVendedorForm">
                     
            </select>
        </div>
    </div>
    <div class="col-3">
        <div class="input mb-3">
            <span class="input-text">Usuario</span>
            <select class="custom-select" multiple aria-label="multiple select example" size="3" name="selectUsuarioForm" id="selectUsuarioForm">
          
            </select>
        </div>
    </div>
   
    <div class="col-3">
        <div class="input mb-3">
            <span class="input-text">Técnico</span>
            <select class="custom-select" multiple aria-label="multiple select example" size="3" name="selectTecnicoForm" id="selectTecnicoForm">
             
            </select>
        </div>
    </div>
    <div class="col-3">
        <div class="input mb-3">
            <span class="input-text">Responsável</span>
            <select class="custom-select" multiple aria-label="multiple select example" size="3" name="selectResponsavelForm" id="selectResponsavelForm">
      
            </select>
        </div>
   
    </div>
</div>

                                              <button type="submit" class="btn btn-success mr-2">Pesquisar</button>
                                              <button type="button" class="btn btn-secondary" onclick="instalacaoController.limparCampos()">Limpar</button>
                                            </form>
                                        </div>
                                    
                                        <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="content">
        <div class="content-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <table id="example1" class="table table-bordered table-hover">
                                                <thead class="bg-info">
                                                    <tr class="text-center">

                                                        <th>Contrato-Nome</th>
                                                        <th>Plano</th>
                                                        <th>Preço</th>
                                                        <th>Data de Cadastro</th>
                                                        <th>Data Finalização</th>
                                                        <th>Vendedor</th>
                                                        <th>Usuário R. Cadastro</th>
                                                        <th>Técnico Responsável</th>
                                                        <th>Usuario Finaliza</th>
                                                        <th>Extra</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody id="bodyTable">
                                                 

<% if(instalacoes){ %>
    <% for(var i=0; i < instalacoes.length; i++) { %>
        <tr>

            <td>
                <a href="https://radnet.c.sgp.net.br/admin/cliente/<%= instalacoes[i].Cliente %>/edit/" target="_blank">
                <%= instalacoes[i].Contrato_Nome %>
                </a>
            </td>
            <td>
                <%= instalacoes[i].Plano %>
            </td>
            <td>
                <%= instalacoes[i].Preço %>
            </td>
            <td>
                <%= instalacoes[i].Data_de_Cadastro %>
            </td>
            <td>
                <%= instalacoes[i].Data_finalização %>
            </td>
            <td>
                <%= instalacoes[i].Vendedor %>
            </td>
      
            <td>
                <%= instalacoes[i].Usuário_R_Cadastro %>
            </td>
            <td>
                <%= instalacoes[i].Técnico_responsável %>
            </td>
            <td>
                <%= instalacoes[i].Usuario_Finaliza %>
            </td>
            <td>
                
                <% if( instalacoes[i].extra == '1') { %>
                        Sim
                    <% }else{ %>
                            Não
                        <% } %>
                
            </td>

        </tr>
        <% } %>
    <% } %>

                                               
                                                     

                                                </tbody>
                                           
                                                <tfoot>
                                                    <tr class="text-center">
                                                        <th>-</th>
                                                        <th>-</th>
                                                        <th>-</th>
                                                        <th>-</th>
                                                        <th>-</th>
                                                        <th>-</th>
                                                        <th>-</th>
                                                        <th>-</th>
                                                        <th>-</th>
                                                        <th>-</th>
                                                        
                                                    
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="assets/config/config.js"></script>
<script src="assets/controllers/Ajax/instalacoesAjax.js"></script>
<script src="assets/controllers/instalacaoController.js"></script>

<script>
    let instalacaoController = new InstalacaoController();
  </script>
